<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>综合</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/public.css" />

    <style>
        .lunbotubox {
            /* height: 200px; */
        }
    </style>
</head>

<body>
    <div id="vuebox">
        <div v-show="!error">
            cuowu
        </div>
        <div v-show="error">
            <div class="lunbotubox">
            </div>
            <div id="main">
                <div v-for="item in data"  style="padding: 15px">
                    <div class="flex_box" style="flex-shrink:1;width: 100%">
                        <div style="width:120px;height:80px;flex-shrink:0">
                            <img :src="'../image/'+ item.image" width="100%" height="100%" style="border-radius: 5px" alt="" srcset="">
                        </div>
                        <div style="padding:0 15px;width: 100%;align-self: flex-start">
                            <div>{{ item.biaoti }}</div>
                            <div class="aui-font-size-12" style="color: darkgray">{{ item.neirong }}</div>
                            <div style="color: darkgray" >skjdbaskjd</div>
                        </div>
                        <div id="qiandao" style="flex-shrink:0;padding-left:15px;text-align: center">
                            <div>点击查看</div>
                            <div>{{ item.jifen }}<span class="aui-font-size-12">积分</span></div>
                        
                        </div>
                    </div>
                </div>



                <div id="sjd">
                    <div v-for="item in data" :dataid='item.id' class="aui-card-list">
                        <div class="aui-card-list-header">
                            <div>{{ item.biaoti }}</div>
                            <div style="color:rgb(30, 141, 8)"><span class="aui-font-size-14">积分：</span>
                                {{ item.jifen }}
                            </div>
                        </div>
                        <div class=" aui-card-list-content-padded">
                            <div class="flex_box_space_between">
                                <div>{{ item.neirong }}
                                </div>
                                <div style="width:120px;height:80px;flex-shrink:0">
                                    <img :src="'../image/'+ item.image" width="100%" height="100%" style="border-radius: 3px"
                                        alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="aui-card-list-footer">
                            <div>{{ item.time }}</div>
                            <div style="color:coral">{{ item.youxi }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/public.js"></script>

<script type="text/javascript">
    apiready = function () {
        //getlunbotu()
        var example1 = new Vue({
            el: '#vuebox',
            data: {
                error: true,
                data: zonghe.fuli,
                imgurl: '../image/'
            }
        })

        var dh_li = $api.domAll('.aui-card-list');
        Array.prototype.forEach.call(dh_li, function (btn) {
            btn.addEventListener('click', function (event) {
                var getid = event.currentTarget.getAttribute('dataid');
                api.openWin({
                    name: 'FL_yx_nr',
                    url: './FL_yx_nr.html',
                    bounces: false,
                    pageParam: { dataid: getid }
                });
            })
        })

        api.addEventListener({
            name: 'qiehuanyouxi'
        }, function (ret, err) {
            var yx = ret.value.key;
            var res = yxdata[yx].fuli
            if (res == undefined || res == '') {
                example1.error = false
            } else {
                example1.error = true
                example1.data = res
            }
        });
    };






    function getlunbotu() {
        var UIScrollPicture = api.require('UIScrollPicture');
        UIScrollPicture.open({
            rect: {
                x: 0,
                y: $api.dom('.lunbotubox').offsetTop,
                w: api.winWidth,
                h: $api.dom('.lunbotubox').offsetHeight
            },
            data: {
                paths: [
                    '../image/1.jpg',
                    '../image/2.jpg',
                    '../image/3.jpg',
                    '../image/4.jpg'
                ],
                captions: []
            },
            styles: {
                caption: {
                    height: 30,
                    color: '#6ab494',
                    size: 14,
                    bgColor: '#ffffff',
                    position: 'bottom'
                },
                indicator: {
                    dot: {
                        w: 10,
                        h: 10,
                        r: 5,
                        margin: 5
                    },
                    align: 'center',
                    color: '#FFFFFF',
                    activeColor: '#DA70D6'
                }
            },
            placeholderImg: 'widget://res/slide1.jpg',
            contentMode: 'scaleToFill',
            interval: 3,
            fixedOn: 'FL_dnf',
            loop: true,
            fixed: false
        }, function (ret, err) {
            if (ret.eventType == 'click') {
                alert(ret.index)
            }
        });
    }
</script>

</html>