<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>综合</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/public.css" />

    <style>

    </style>
</head>

<body>
    <div id="main">
        <div v-show="!error">
            <div v-for="item in data">
                <div class="flex_box" style="flex-shrink:1;width: 100%;background-color:#fff;padding: 15px">
                    <div style="width:120px;height:80px;flex-shrink:0">
                        <img :src="item.image" width="100%" height="100%" style="border-radius: 5px" alt="" srcset="">
                    </div>
                    <div style="padding-left: 10px;width: 100%;align-self: flex-start;">
                        <div style="height: 20px;overflow: hidden;line-height: 20px">{{ item.biaoti }}</div>
                        <div style="height: 35px;line-height: 17px;overflow: hidden;" class="aui-font-size-12"
                            style="color: darkgray">{{ item.neirong }}</div>
                        <div style="height: 25px">
                            <span
                                style="border:teal 1px solid;height: 23px;font-size: 14px;padding: 0 5px">sjhdbas</span>
                        </div>
                    </div>
                    <div style="position: absolute;right:20px;">
                        <img :src="item.image" width="80px" height="80px" style="border-radius: 40px" alt="" srcset="">
                    </div>
                    <!-- <div id="qiandao" style="flex-shrink:0;padding-left:10px;text-align: center">
                                        <div>点击查看</div>
                                        <div>{{ item.jifen }}<span class="aui-font-size-12">积分</span></div>
                                    
                                    </div> -->
                </div>
            </div>

            <div v-for="item in data">
                <div class="flex_box" style="flex-shrink:1;width: 100%;background-color:#fff;padding: 15px">
                    <div style="width:120px;height:80px;flex-shrink:0">
                        <img :src="item.image" width="100%" height="100%" style="border-radius: 5px" alt="" srcset="">
                    </div>
                    <div style="padding-left: 10px;width: 100%;align-self: flex-start;">
                        <div style="height: 20px;overflow: hidden;line-height: 20px">{{ item.biaoti }}</div>
                        <div style="height: 35px;line-height: 17px;overflow: hidden;" class="aui-font-size-12"
                            style="color: darkgray">{{ item.neirong }}</div>
                        <div style="height: 25px">
                            <span
                                style="border:teal 1px solid;height: 23px;font-size: 14px;padding: 0 5px">sjhdbas</span>
                        </div>
                    </div>
                    <!-- <div style="position: absolute;right:20px;">
                        <img :src="item.image" width="80px" height="80px" style="border-radius: 40px" alt="" srcset="">
                    </div> -->
                    <!-- <div id="qiandao" style="flex-shrink:0;padding-left:10px;text-align: center">
                                                    <div>点击查看</div>
                                                    <div>{{ item.jifen }}<span class="aui-font-size-12">积分</span></div>
                                                
                                                </div> -->
                </div>
            </div>

            <!-- <div id="sjd">
                <div v-for="item in data" class="aui-card-list">
                    <div class="aui-card-list-header">
                        <div>{{ item.biaoti }}</div>
                        <div style="color:rgb(30, 141, 8)"><span class="aui-font-size-14">积分：</span> {{ item.jifen }}
                        </div>
                    </div>
                    <div class=" aui-card-list-content-padded">
                        <div class="flex_box_space_between">
                            <div>{{ item.neirong }}</div>
                            <div style="width:120px;height:80px;flex-shrink:0">
                                <img :src="item.image" width="100%" height="100%"
                                    style="border-radius: 3px" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="aui-card-list-footer">
                        <div>{{ item.time }}</div>
                        <div style="color:coral">{{ item.youxi }}</div>
                    </div>
                </div>
            </div> -->
        </div>
        <div v-show="error">
            {{ errormsg }}
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/public.js"></script>
<script type="text/javascript">
    apiready = function () {
        var example1 = new Vue({
            el: '#main',
            data: {
                error: false,
                data: zonghe.zixun,
                errormsg: '没有找到您需要的数据'
            }
        })

        api.addEventListener({
            name: 'qiehuanyouxi'
        }, function (ret, err) {
            var yx = ret.value.key;

            if (yx != '' || yx != undefined) {
                var res = yxdata[yx].zixun
            } else {
                res = ''
            }

            if (res == undefined || res == '') {
                example1.error = true
            } else {
                example1.error = false
                example1.data = res
            }
        });
    };
</script>

</html>