<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>发攻略</title>
    <link rel="stylesheet" type="text/css" href="api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-slide.css" />
    <style>
    </style>
    <script src="../script/ejs.min.js"></script>
    <script type="text/javascript" src="../script/zdy.js"></script>
    <script type="text/javascript" src="../script/public.js"></script>
</head>

<body>
    <div class="aui-content aui-margin-b-15">
        <ul class="aui-list aui-form-list xinxibox">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">

                    <div class="aui-list-item-input">
                        <input name="biaoti" type="text" placeholder="标题">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-input">
                        <input name="neirong" style="height: 80px;width: 100%;margin: 3px 0px" type="Textarea"
                            placeholder="填写想说的话。。。">
                    </div>
                </div>
            </li>
            <li class="aui-list-item " id="anniou">
                <div class="aui-list-item-inner aui-list-item-btn">
                    <div>
                        <div id="add_img" class="aui-btn aui-btn-info aui-margin-r-5">+图片</div>
                        <div id="add_text" class="aui-btn aui-btn-info aui-margin-l-5">+文字</div>
                    </div>
                    <div id="fabu" class="aui-btn aui-btn-danger">发布</div>
                </div>
            </li>
        </ul>
    </div>

    <script type="text/template" id="ejstext">
        <li class="aui-list-item" xuhao="<%= xuhao%>">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-input">
                    <input name="neirong" style="height: 80px;width: 100%;margin: 3px 0px" type="Textarea" placeholder="填写想说的话。。。">
                </div>
            </div>
        </li>
    </script>
    <script type="text/template" id="ejsimg">
        <li class="aui-list-item imgbox" xuhao="<%= xuhao%>">
            <div class="aui-list-item-inner aui-list-item-btn">
                <img class="img" height="120px" width='100%' style="maigin-right:15px" src="<%= res%>" alt="">
            </div>
        </li>
    </script>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript">
    apiready = function () {
        user = $api.getStorage('user');
        add_img();
        add_text();
        gonglue_paixu = ["text"];
        img_xuhao = [];
        text_xuhao = [];
    }

    //添加图片
    function add_img() {
        $api.addEvt($api.dom('#add_img'), 'click', function () {

            api.getPicture({
                sourceType: 'library',
                encodingType: 'jpg',
                mediaValue: 'pic',
                destinationType: 'url',
                allowEdit: true,
                quality: 50,
                targetWidth: 500,
                // targetHeight: ,
                saveToPhotoAlbum: false
            }, function (ret, err) {
                if (ret.data != "") {
                    if (img_xuhao.length > 0) {
                        img_xuhao.push(img_xuhao.length)
                    } else {
                        img_xuhao.push('0')
                    }
                    ejsimg = $api.html($api.dom('#ejsimg'));
                    html = ejs.render(ejsimg, { res: ret.data, xuhao: img_xuhao.length });
                    $api.before($api.dom('#anniou'), html);
                    gonglue_paixu.push('img')
                } else {
                    api.toast({
                        msg: '添加图片出错',
                        duration: 2000,
                        location: 'bottom'
                    });
                }
            });

        })

    }

    //添加文字
    function add_text() {
        $api.addEvt($api.dom('#add_text'), 'click', function () {
            if (text_xuhao.length > 0) {
                text_xuhao.push(text_xuhao.length)
            } else {
                text_xuhao.push('0')
            }
            var html = $api.html($api.dom('#ejstext'))
            $api.before($api.dom('#anniou'), html);
            var imgs = $api.domAll('.imgbox');
            gonglue_paixu.push('text')
        })

    }
    
    $api.addEvt($api.dom('#fabu'), 'click', function () {
        //fabu()

        biaoti_html = $api.val($api.dom('input[name=biaoti]'));
        neirong_html = $api.val($api.dom('input[name=neirong]'));
        if (biaoti_html == "" || neirong_html == "") {
            api.toast({
                msg: '信息填写不完整',
                duration: 2000,
                location: 'bottom'
            });
        } else if (!user) {
            api.toast({
                msg: '您还未登陆',
                duration: 2000,
                location: 'bottom'
            })
        } else {
            add_sql_gonglue()
        }
    })

    function add_sql_gonglue() {
        var data = {};
        data.user = user
        data.imgsrcs = [];
        data.neirong = {}
        data.paixu = gonglue_paixu
        data.biaoti = $api.val($api.dom('input[type=text]'));
        var imgsrcs = $api.domAll('.img');

        if (imgsrcs.length > 0) {
            for (var i = 0; i < imgsrcs.length; i++) {
                data.imgsrcs.push($api.attr(imgsrcs[i], 'src'))
            }
        } else {
            data.imgsrcs = ""
        }
        var neirong = $api.domAll('input[name=neirong]');
        for (var i = 0; i < neirong.length; i++) {
            data.neirong[i] = $api.val(neirong[i]);
        }
        //alert(JSON.stringify(data))
        // alert(JSON.stringify(data.neirong))
        api.ajax({
            url: server + '/api/add_sql_gonglue',
            method: 'post',
            data: {
                values: {
                    data: data
                },
                files: {
                    file: data.imgsrcs
                }
            },
            timeout: 30,
            dataType: 'json',
            returnAll: false
        }, function (ret, err) {
            if (ret) {

                api.showProgress({
                    title: '',
                    text: ' 上传成功',
                    modal:  true
                });
                
               
                setTimeout(function () {
                    api.closeWin();
                }, 1000);
            } else {
                
                api.showProgress({
                    title: '',
                    text: ' 添加出错',
                    modal: true
                });
                
                setTimeout(function () {
                   api.hideProgress();
                }, 1000);
                
            };
        });
        api.showProgress({
            title: '上传中',
            text: ' 请稍等',
            modal: true
        });
    }

   
</script>

</html>