<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>Hello APP</title>
	<link rel="stylesheet" type="text/css" href="../css/api.css" />
	<link rel="stylesheet" type="text/css" href="../css/aui.css" />
	<link rel="stylesheet" type="text/css" href="../css/public.css" />
	<style>
		#header {
			height: 50px;
			padding: 0px 20px;
			font-size: 20px;
			line-height: 50px;
			/* background-image: url(../image/7.png); */
			background-color: #ff8000;
			color: #fff;
			position: fixed;
			z-index: 12;
			top: 0px;
			left: 0px;
			width: 100%;

		}
	</style>
</head>

<body>
	<header id="header">
		<span id='back' class="aui-iconfont aui-icon-left"></span>
		<!-- <span id="biaoti" style="margin-left:15px">
			klsajd
		</span> -->
		<span id="queding" style="float: right">确定</span>
	</header>
	<div id="main" style="padding-bottom:15px;padding-top: 50px">
		<div class="aui-card-list">
			<div class="aui-card-list-header">
				<div style="border-left:coral solid 5px;padding-left:10px;color: coral" class="aui-font-size-16">
					已选
				</div>
			</div>
			<div class="aui-card-list-content aui-border-t" style="padding:0 15px;padding-bottom: 15px">
				<div class="flex_box" style="flex-wrap: wrap;color:#fff;">
					<div v-for="(data,index) in yixuan"
						style="flex-shrink:0; position: relative; margin-right: 15px;margin-top: 15px;background-color:black;border-radius: 5px;overflow: hidden;">
						<span style="padding:5px 15px;background-color: #ff8000">{{data.name}}</span>
						
						<span  v-if='index > 0' style="padding:0 10px" v-on:click='shanchu(index)'>
							<i class="aui-iconfont aui-icon-close "></i></span>
					</div>
				</div>
			</div>
		</div>

		<div class="aui-card-list">
			<div class="aui-card-list-header">
				<div style="border-left:coral solid 5px;padding-left:10px;color: coral" class="aui-font-size-16">
					PC网游
				</div>
			</div>

			<div class="aui-card-list-content aui-border-t" style="padding:0 15px;padding-bottom: 15px">

				<div class="flex_box" style="flex-wrap: wrap;color:#fff;">
					<div v-for="(data,index) in pc"
						style="flex-shrink:0; position: relative; margin-right: 15px;margin-top: 15px;background-color:black;border-radius: 5px;overflow: hidden;">
						<span style="padding:5px 15px;background-color: #ff8000">{{data.name}}</span>
						<span style="padding:0 10px" v-on:click='zengjia(index,pc)'><i
								class="aui-iconfont aui-icon-plus "></i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="aui-card-list">
			<div class="aui-card-list-header">
				<div style="border-left:coral solid 5px;padding-left:10px;color: coral" class="aui-font-size-16">
					手游
				</div>
			</div>
			<div class="aui-card-list-content aui-border-t" style="padding:0 15px;padding-bottom: 15px">

				<div class="flex_box" style="flex-wrap: wrap;color:#fff;">
					<div v-for="(data,index) in shouyou"
						style="flex-shrink:0; position: relative; margin-right: 15px;margin-top: 15px;background-color:darkgray;border-radius: 5px;overflow: hidden;">
						<span style="padding:5px 15px;background-color: #ff8000">{{data.name}}</span>
						<span style="padding:0 10px" v-on:click='zengjia(index,shouyou)'><i
								class="aui-iconfont aui-icon-plus "></i></span>
					</div>

				</div>
			</div>
		</div>
		<div class="aui-card-list">
			<div class="aui-card-list-header">
				<div style="border-left:coral solid 5px;padding-left:10px;color: coral" class="aui-font-size-16">
					页游
				</div>
			</div>
			<div class="aui-card-list-content aui-border-t" style="padding:0 15px;padding-bottom: 15px">
				<div class="flex_box" style="flex-wrap: wrap;color:#fff;">
					<div v-for="(data,index) in yeyou"
						style="flex-shrink:0; position: relative; margin-right: 15px;margin-top: 15px;background-color:darkgray;border-radius: 5px;overflow: hidden;">
						<span style="padding:5px 15px;background-color: #ff8000">{{data.name}}</span>
						<span style="padding:0 10px " v-on:click='zengjia(index,yeyou)'><i
								class="aui-iconfont aui-icon-plus "></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/public.js"></script>
<script type="text/javascript">
	apiready = function () {

		api.ajax({
			url: server+'/api/yxlist',
			method: 'get',
			timeout: 15,
			dataType: 'json',
			returnAll:false
		},function(ret,err){
			if (ret) {
				//console.log(JSON.stringify(ret))
			} else {
				api.alert({
					msg:('错误码：'+err.code+'；错误信息：'+err.msg+'网络状态码：'+err.statusCode)
				});
			};
		});
		var	yxlist=api.pageParam.pingdao;
		$api.addEvt($api.dom('#back'), 'click', function () {
			api.closeWin();
		});

		$api.addEvt($api.dom('#queding'), 'click', function () {
			api.sendEvent({
				name: 'yixuan',
				extra: {yixuan: yxlist.yixuan}
			});
			api.closeWin();
		});

		var list = new Vue({
			el: '#main',
			data: {
				yixuan: yxlist.yixuan,
				pc: yxlist.pc,
				shouyou: yxlist.shouyou,
				yeyou: yxlist.yeyou
			},
			methods: {
				shanchu: function (index) {
					if (this.yixuan.length > 1) {

						this.yixuan.splice(index, 1)
						yxlist.yixuan=this.yixuan
					} else {
						api.toast({
							msg: '至少选择一个游戏',
							duration: 2000,
							location: 'bottom'
						});
					}

				},
				zengjia: function (index, abs) {
					var istrue = false;
					//console.log(JSON.stringify(pc) )
					for (var i = 0; i < this.yixuan.length; i++) {
						if (this.yixuan[i].name === abs[index].name) {
							istrue = true
						}
					}
					if (!istrue) {

						if (this.yixuan.length < 4) {

							list.yixuan.splice(this.yixuan.length, 0, abs[index])
							yxlist.yixuan = this.yixuan
						} else {
							api.toast({
								msg: '至多选择三个游戏',
								duration: 2000,
								location: 'bottom'
							});
						}
					} else {
						api.toast({
							msg: '已添加',
							duration: 2000,
							location: 'bottom'
						});
					}
				}
			}
		})
	};
</script>

</html>